#ignored bin folder
bin/
#ignored obj folder
obj/
#ignored Properties folder
Properties/
#ignored .vs Folder
.vs/
#ignored config Files
*.config
#ignored csproj files
.csproj
#ignored csproj.user files
.csproj.user