#These files are ignored
/RegistrationForm/Csharp/RegistrationForm/RegistrationForm/.vs/
*.config
/RegistrationForm/Csharp/RegistrationForm/RegistrationForm/obj/
/RegistrationForm/Csharp/RegistrationForm/RegistrationForm/Properties/
/.vs/